<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Transaccions del día
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="actualizandoTransacciones($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list >
    <ion-item-sliding *ngFor = "let i of arreglo" >
      <ion-item [ngClass]="{'rojito': i.cancelado}">
        <ion-avatar item-start>
          <img src="../../assets/imgs/hombre.jpg">
        </ion-avatar>
        <h2>Cuenta: {{i.nombre}}</h2>
        <p>Número de folio: {{i.id}}</p>
        <strong item-end>Total: {{i.total | currency}}</strong>
      </ion-item>  
      <ion-item-options side="right" *ngIf="!i.cancelado">
        <button color="light" (click) = "reimprimir(i);" ion-button><ion-icon name="print"></ion-icon>Reimprimir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom #fab>
    <button ion-fab color="botonflotante"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
        <button ion-fab (click)="ingresarSistema(fab);"><ion-icon name="person"></ion-icon></button>      
    </ion-fab-list>
  </ion-fab>
</ion-content>
