page-detalle-cuenta-productos-agregar {
   .estilobotones{

   }
   .estilobotones button{
       width: 25px;
   }
   .estilobotones input{
    width: 30px;
}
 .personal{

    width: 100%;
}
.estilobotones p{
    width: 100%;
    text-align: center;
}
}
