page-vercuenta {
    .cabecera {
        background: #caefe5;
    }
    .derecha{
        text-align: right;
        font-size: 140%;
        color: #c50101;
    }
    .derecha2{
        text-align: right;
        
    }
    
    .centro{
    
        text-align: center;
    }
    .izquierda{
    
        text-align: right;
    }
}
