
<ion-content>
        
  <ion-grid class="arriba">
    <ion-row style="height: 70%;" class="formarletra">
      <ion-col>
        <strong>&#10004;</strong>
        <p>Cobrado</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <label class="etiqueta1">
          <strong>Nombre de la cuenta:</strong>
        </label>
        <p class="etiqueta2">{{nombre_ticket}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="background: #e4e3e3">
        <strong>Información del Ticket</strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="etiqueta2">
        <strong>Folio N° {{folio}}</strong>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col style="background: #e4e3e3">
          <strong>Información de consumo</strong>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <strong>Descripción</strong>
      </ion-col>
      <ion-col>
          <strong>Cantidad</strong>
        </ion-col>
        <ion-col>
            <strong>Total</strong>
          </ion-col>
    </ion-row>
    <ion-row *ngFor="let i of arreglo">
        <ion-col col-6>
          {{i.nombre_producto}}
        </ion-col>
        <ion-col>
            {{i.cantidad}}
          </ion-col>
          <ion-col>
              {{i.precio*i.cantidad | currency }}
            </ion-col>
      </ion-row>

      <ion-row style="background: #e4e3e3;color: darkred;">
          <ion-col col-9 style="text-align: right;">
            <strong>Total: </strong>
          </ion-col>
            <ion-col>
                <strong>{{total | currency}}</strong>
              </ion-col>
        </ion-row>
        <ion-row *ngIf="billete" style="background: #e4e3e3;">
            <ion-col col-6 >
              </ion-col>
            <ion-col col-3 style="text-align: right;border-bottom: 1px solid black;">
              <strong>Cobrado: </strong>
            </ion-col>
              <ion-col style="border-bottom: 1px solid black;">
                  <strong>{{billete | currency}}</strong>
                </ion-col>
          </ion-row>
          <ion-row *ngIf="billete" style="background: #e4e3e3">
              <ion-col col-9 style="text-align: right;">
                <strong>Cambio: </strong>
              </ion-col>
                <ion-col>
                    <strong>{{billete - total | currency}}</strong>
                  </ion-col>
            </ion-row>  
  </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar color="gris" style="text-align: center">
      <button (click) = "enviar();" ion-button icon-only color="botones" style="width: 80%;">            
         Ticket
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>

    </ion-toolbar>
  </ion-footer>
  <button class="boton" (click) = "cerrar1();" ion-button icon-only color="danger" style="width: 40%;">            
      <ion-icon (click) = "cerrar1();" name="close"></ion-icon>
    </button>